## Ánh xạ (mapping):
- Sử dụng hàm: map(func, iterable)
- Trả về kiểu dữ liệu map -> ép về kiểu dữ liệu cũ sau khi map

In [7]:
names = [
    "Emma Johnson",
    "Liam Smith",
    "Olivia Brown",
    "Noah Garcia",
    "Ava Martinez",
    "Elijah Davis",
    "Sophia Taylor",
    "James Miller",
    "Isabella Wilson",
    "Benjamin Anderson",
    "Mia Thomas",
    "Lucas Moore",
    "Charlotte Martin",
    "Henry Lee",
    "Amelia White",
    "Alexander Harris",
    "Harper Clark",
    "Ethan Lewis",
    "Evelyn Young",
    "William Hall"
]

In [9]:
# Cho danh sách họ và tên -> xuất ra danh sách chỉ lấy tên
first_name = map(lambda fullName: fullName.split()[0].upper(), names)
print(list(first_name))

['EMMA', 'LIAM', 'OLIVIA', 'NOAH', 'AVA', 'ELIJAH', 'SOPHIA', 'JAMES', 'ISABELLA', 'BENJAMIN', 'MIA', 'LUCAS', 'CHARLOTTE', 'HENRY', 'AMELIA', 'ALEXANDER', 'HARPER', 'ETHAN', 'EVELYN', 'WILLIAM']

## Dictionary
- Sử dụng cơ chế mapping: key -> value (bất kì)
- Không có chỉ số index
- Key là duy nhất (không trùng lặp)

In [2]:
# khai báo
dict1 = {}
dict2 = dict()
student_obj = {"id": 1, "name": "John"}

In [5]:
# truy xuất
print("Student's name: ", student_obj["name"])
print("Student's id: ", student_obj.get("id"))

Student's name:  new name
Student's id:  1

In [4]:
# thêm/ cập nhật
student_obj["age"] = 20
student_obj["name"] = "new name" # Nếu trùng lặp key cũ -> cập nhật
student_obj

{'id': 1, 'name': 'new name', 'age': 20}

In [6]:
# xóa
del student_obj["age"]
student_obj

{'id': 1, 'name': 'new name'}